table.tic {
	border:none;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width: 180px;
}

table.tic td {
	border-left: 3px solid #000;
	border-right: 3px solid #000;
	height: 33%;
	font-family: "Consolas", "Lucida Console", monospace;
}

table.tic tr {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
	width: 33%;
}

table.tic td:first-child {
	border-left: none;
}

table.tic td:last-child {
	border-right: none;
}

table.tic tr:first-child {
	border-top: none;
}

table.tic tr:last-child {
	border-bottom: none;
}

* {
    text-align: center;
}

td {
   font-size: 36px;
   color: grey;
}

h1 {
        color: orange;
}
